/* src/Footer.css */
.footer {
  background-color: #111;
  color: white;
  padding: 60px 30px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.footer-logo .logo {
  width: 50px;
  margin-bottom: 10px;
}

.footer-genres,
.footer-help {
  margin-bottom: 20px;
}

.footer-genres ul,
.footer-help ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-genres li,
.footer-help li {
  margin-bottom: 5px;
}

.footer-genres h4,
.footer-help h4 {
  margin-bottom: 10px;
  cursor: pointer; /* Add cursor pointer for dropdown */
  display: flex;
  justify-content: space-between; /* Ensure space between text and icon */
  align-items: center; /* Center align the icon */
}

.footer-genres-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-genres {
  width: 40rem;
  padding-left: 4rem;
}

.chill-logo {
  width: 9em;
}

.footer-genres-list {
  text-decoration: none;
  color: white;
  padding: 0.8%;
  display: block;
}

.footer-genres-group {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 0.7fr 1fr;
  gap: 5px;
}

/* Hide dropdown icons by default */
.dropdown-icon {
  display: none;
}

/* Media Queries */
@media (max-width: 480px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-genres,
  .footer-help {
    width: 100%;
    padding-left: 0;
  }

  .footer-genres-group,
  .footer-help ul {
    display: none; /* Hide lists by default on mobile */
  }

  .footer-genres-group.open,
  .footer-help ul.open {
    display: block; /* Show lists when their respective sections are open */
  }

  .footer-genres h4,
  .footer-help h4 {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer; /* Add cursor pointer for dropdown */
  }

  /* Show dropdown icons on mobile */
  .dropdown-icon {
    display: inline-block;
    margin-left: 10px; /* Add space between text and icon */
  }
}
