.row {
  margin-left: 20px;
  color: white;
}

h2 {
  padding: 0px 0px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 28px;
  /* max-height: max-content; */
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  /* object-fit: contain; */
  position: relative;
  max-height: 100px;
  margin-right: 8px;
  transition: transform 450ms;
  border-radius: 6px;
}
.movie-info {
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background: linear-gradient(to top, black, transparent);
  width: 85%;
  opacity: 0;
  /* height: 60%; */
  transition: 0.5s ease;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: flex-end;
}
/* poster Large */
.row__posterLarge .movie-info {
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background: linear-gradient(to top, black, transparent);
  width: 85%;
  opacity: 0;
  height: 28%;
  transition: 0.5s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row__posters__cage:hover .movie-info {
  opacity: 1;
}

.row__posters__cage:hover {
  transform: scale(1.2);
}

.row__posterLarge {
  max-height: 250px;
  padding: 2.5px 1px;
}

.row__posterLarge .play-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.row__posterLarge .play-button i {
  font-size: 16px;
  color: black;
}

.row__posterLarge .play-button:hover {
  transform: scale(1.1);
}

.row__posterLarge .checklist-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.row__posterLarge .checklist-button i {
  font-size: 16px;
  color: black; /* Customize the color as needed */
}

.row__posterLarge .checklist-button:hover {
  transform: scale(1.1);
}
.row__posterLarge .dropdown-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin-left: 2.3rem;
  margin-right: 0.2rem;
}

.row__posterLarge .dropdown-button i {
  font-size: 20px;
  color: black;
}

.row__posterLarge .dropdown-button:hover {
  transform: scale(1.1);
}

.row__posterLarge .movie-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 33%;
}

.row__posterLarge .movie-age,
.row__posterLarge .movie-duration {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 6px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
/* Poster Large */

.movie-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 33%;
}

.movie-age,
.movie-duration {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 2px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 12px;
}

.play-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin-left: 0.3rem;
}

.play-button i {
  font-size: 12px;
  color: black;
}

.play-button:hover {
  transform: scale(1.1);
}

.checklist-button,
.play-button,
.dropdown-button {
  position: relative;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 8px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow pointing down */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.checklist-button:hover .tooltip,
.play-button:hover .tooltip,
.dropdown-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.checklist-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.checklist-button i {
  font-size: 12px;
  color: black; /* Customize the color as needed */
}

.checklist-button:hover {
  transform: scale(1.1);
}
.dropdown-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin-left: 4rem;
  margin-right: 0.5rem;
}

.dropdown-button i {
  font-size: 12px;
  color: black;
}

.dropdown-button:hover {
  transform: scale(1.1);
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
}

.movie-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: row;
}

.movie-info:hover {
  opacity: 1;
}
